.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    display: flex;
    z-index: 2;
  }

.navbarBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100px;
    background-color: black;
    opacity: 0;
    z-index: 2;
}

  .navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  .navbar .leftSide svg {
    width: 300px;
    height: auto;
  }

  .navbar .leftSide .john {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: LineAnimation 2s ease forwards;
    animation-delay: 1s;
  }

  .navbar .leftSide .s {
    stroke-dasharray: 150px;
    stroke-dashoffset: 150px;
    animation: LineAnimation 1s ease forwards;
    animation-delay: 2.5s;
  }

  .navbar .leftSide .heehy {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: LineAnimation 2.2s ease forwards;
    animation-delay: 3s;
  }

  .navbar .leftSide .co {
    stroke-dasharray: 500px;
    stroke-dashoffset: 500px;
    animation: LineAnimation 2s ease forwards;
    animation-delay: 4.4s;
  }

  .navbar .leftSide .period {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    animation: LineAnimation 1s ease forwards;
    animation-delay: 5.1s;
  }

  @keyframes LineAnimation {
    to {
        stroke-dashoffset: 0px;
    }
  }

  .navbar .leftSide button {
    background: none;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
    margin-left: 10vw;
  }

  .navbar .rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
  }

  .navbar .rightSide button {
    background: none;
    border: none;
    cursor: pointer;
    font: inherit;
    text-decoration: none;
    font-size: 30px;
    margin-right: 10vw;
    color: white;
  }


@media only screen and (max-width: 900px) {
  .navbar .leftSide button {
    margin-left: 10px;
  }
  .navbar .rightSide button {
      margin-right: 10px;
  }
}

@media only screen and (max-width: 500px) {
  .navbar .leftSide button {
    margin-left: 2px;
  }
  .navbar .rightSide button {
      margin-right: 2px;
  }
  .navbar .leftSide img {
    width: 100%;
  }
  .navbar .leftSide svg {
    width: 200px;
  }
  .navbar .leftSide {
    width: 50vw;
  }
  .navbar .rightSide {
    width: 50vw;
  }
}