body {
  padding: 0;
  margin: 0;
}

.App {
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: cursive;
  overflow: hidden;
}

.Background {
  height: 100vh;
  object-fit: cover;
}

.Blessing {
  position: absolute;
  top: 20vh;
  font-size: clamp(1rem, 4vw + 1rem, 3rem);
  text-align: center;
  color: white;
  padding: 10px;
  width: calc(100vw - 20px);
}